
.navbar {
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.navbar-links {

    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-grow: 1; /* Allow space for logo on the left */
    align-items: center;
}

.logo {
    margin-right: auto; /* Pushes the logo to the left */
}
.logo {
    display: flex;
    align-items: center;
  }
  
  .logo-title {
    font-size: 1rem; /* Adjust size as needed */
    color: #125215; /* Choose a suitable color */
    margin-left: 200px; /* Spacing between logo and title */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  

.logo img {
    height: 50px; /* Adjusts logo size */
    width: auto;
}

.navbar-item {
    color: rgb(249, 245, 245);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem; /* Adds space around each item */
    margin: 0 10px;
    min-width: fit-content; /* Expands item based on text */
    white-space: nowrap; /* Prevents wrapping */
    border-radius: 4px;
}

.navbar-item:hover {
    background-color: #f0f0f0;
    color: #000;
    transition: all 0.5s ease-in-out;
}

.active {
    border-bottom: 2px solid green; /* Green line under active link */
    color: black;
    border-radius: 2px;
}