
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefbfb;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.hamburger-menu {
  display: block;
  color: rgb(247, 3, 3);
  background: none;
  border: none;
  font-size: 2rem;
}

.hamburger-menu:hover {
  cursor: pointer;
  color: #fefbfb;
}
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #343a40;
  color: rgb(3, 3, 3);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-title {
  color: white;
  margin-right: 20px;
}

.navbar-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-links li {
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-links li:hover {
  background-color: #ffffff;
}

.navbar-links li span {
  margin-left: 8px;
}


.hamburger-menu {
  /* display: none; */
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  .navbar-links {
      display: none;
      width: 100%;
      flex-direction: column;
  }

  .navbar-links.open {
      display: flex;
  }

  /* .hamburger-menu {
      display: block;
      color: white;
      background: none;
      border: none;
      font-size: 2rem;
  } */

  .navbar-header {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .navbar-title {
      font-size: 1.5rem;
  }

  .navbar-links li {
      justify-content: center;
  }

  .close-btn {
      font-size: 1.5rem;
  }
}
